.bottom-container {
    flex: none;
}

.footer {
    z-index: 1;
    position: relative;
    
    flex: none;
    color: $white;
    background: linear-gradient(0deg,rgba(0,0,0,.9) 60%,transparent 100%);

    &__main {
        padding: 20px 0;
    }

    &__row {
        display: flex;
        margin-top: -40px;
        margin-left: -20px;
        margin-right: -20px;
    }

    &__col {
        max-width: 50%;
        flex-basis: 50%;
        margin-top: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &__contacts {
        display: flex;
        align-items: center;

        > * {
            margin-right: 20px;
        }
    }

    &__tel {
        color: $white;
        font-size: 22px;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s linear;

        &:hover {
            color: $twine-color;
        }
    }

    &__info {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

         > * {
            margin-right: 20px;
        }
    }
}

.copyright {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}
