.header {
    margin-top: 20px;
    
    &--desktop {
        display: block;
    }

    &--mobile {
        display: none;
    }

    flex: none;
    z-index: 1;
    font-size: 13px;
    position: relative;

    &__nav {
        height: 60px;

        > .container {
            height: 100%;
        }
    }
    
    .main-nav {
        display: flex;
        background-color: #fff;
        justify-content: space-between;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    }

    .main-nav__item {
        display: inline-block;
    }
}


* + .contacts__link {
    margin-left: 15px;
}

.header a.contacts__link:hover {
    color: $twine-color;
}