.header {
    &--desktop {
        display: block;
    }

    &--mobile {
        display: none;
    }

    flex: none;
    font-size: 13px;
    position: relative;
    background-color: $white;

    &__top {
        height: 40px;
        position: relative;
        color: $baltic-sea-color;
        border-bottom: 1px solid $mischka;

        > .container {
            height: 100%;
            display: flex;
        }
    }

    &__main {
        height: 142px;

        > .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    &__nav {
        height: 60px;
        background-color: $baltic-sea-color;

        > .container {
            height: 100%;
        }
    }

    &__basket {
        width: 85px;
        height: 85px;
        position: relative;
        background-color: $twine-color;
        transition: box-shadow 0.2s linear;

        > img {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 34px;
            height: 40px;
            margin: auto;
            position: absolute;
        }

        > span {
            top: 8px;
            right: 10px;
            color: $white;
            font-size: 10px;
            position: absolute;
        }

        &:hover {
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.2);
        }
    }

    .top-nav__sup {
        width: 15px;
        height: 15px;
        color: $white;
        font-size: 9px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        background-color: $twine-color;
    }
}

* + .contacts__link {
    margin-left: 15px;
}

@media (min-width: 1151px) {
    .top-nav {
        width: 100%;
        height: 100%;

        &__row {
            height: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__list {
            width: 100%;
            height: 100%;
            display: flex;
            margin-right: 1rem;
            max-width: 53.5%;
            flex-basis: 53.5%;
            justify-content: space-between;
        }

        &__item {
            height: 100%;
        }

        &__link {
            height: 100%;
            display: flex;
            color: $baltic-sea-color;
            padding: 0 10px;
            align-items: center;
            text-decoration: none;
            transition: color 0.2s linear;

            &:hover {
                color: $twine-color;
            }
        }

        &__services {
            max-width: 41.66667%;
            flex-basis: 41.66667%;
        }
    }

    .main-nav {
        height: 100%;

        &__list {
            height: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__link {
            height: 100%;
            color: $white;
            display: flex;
            font-size: 16px;
            padding: 0 10px;
            align-items: center;
            text-decoration: none;
            transition: color 0.2s linear;

            &:hover {
                color: $twine-color;
            }
        }

        &__item {
            height: 100%;

            &--special {
                .main-nav__link {
                    padding: 0 50px;
                    text-transform: uppercase;
                    background-color: $contessa;
                    transition: background-color 0.2s linear;

                    &:hover {
                        color: $white;
                        background-color: #C05968;
                    }
                }
            }
        }
    }

    .main-tools {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 58.33333%;
        flex-basis: 58.33333%;

        &__info {
            height: 100%;
            padding-top: 10px;
        }

        &__contacts {
            margin-top: 23px;
        }
    }

    .header .contacts {
        display: flex;
        margin-top: -23px;
        margin-left: -20px;
        margin-right: -20px;
        justify-content: space-between;

        &__item {
            display: flex;
            margin-top: 23px;
            padding-left: 20px;
            padding-right: 20px;
            align-items: center;
        }

        &__item,
        &__link {
            font-weight: 700;
            text-decoration: none;
            color: $baltic-sea-color;
        }
    }
}

.header a.contacts__link:hover {
    color: $twine-color;
}

.services-list {
    display: flex;
    justify-content: flex-end;

    &__item {
        padding-left: 1.3rem;
        padding-right: 2.5rem;

        &:last-child {
            padding-right: 0;

            .top-nav__link {
                padding-right: 0;
            }
        }
    }

    &__item + &__item {
        border-left: 1px solid $mischka;
    }
}



@media (max-width: 1150px) {
    .nav-container {
        left: 0;
        right: 0;
        top: 100%;
        z-index: 2;
        width: 100%;
        max-width: 320px;
        overflow: auto;
        position: absolute;
        padding-bottom: 30px;
        background-color: $white;
        height: calc(100vh - 70px);

        .top-nav,
        .main-nav {
            padding: 20px;
        }

        .top-nav__link,
        .main-nav__link {
            font-size: 16px;
            text-decoration: none;
        }

        .top-nav {
            &__services {
                &.services-list {
                    display: block;
                }

                .services-list__item {
                    padding: 0;
                }
            }

            &__link {
                color: $baltic-sea-color;
            }
        }

        .main-nav {
            background-color: $baltic-sea-color;

            &__link {
                color: $white;
            }

            &__item {
                &--special {
                    margin-top: 20px;
                    padding: 10px 20px;
                    margin-left: -20px;
                    margin-right: -20px;
                    background-color: $contessa;
                }
            }
        }

        .main-tools__info {
            padding: 0 20px;
            margin-top: 20px;
        }

        .main-tools__contacts {
            margin-top: 20px;
        }
    }

    .header {
        &--desktop {
            display: none;
        }

        &--mobile {
            display: block;
        }

        &__top {
            height: 70px;

            > .container {
                align-items: center;
                justify-content: space-between;
            }
        }

        &__basket {
            width: 40px;
            height: 40px;
            margin-left: 10px;

            > img {
                width: 20px;
                height: 20px;
            }

            > span {
                top: 0;
                right: 4px;
            }
        }
    }

    .logo {
        height: 100%;
        display: flex;
        align-items: center;

        img {
            width: 90px;
        }
    }

    .services-list {
        &__item {
            padding: 0 5px;

            .services-list__link {
                height: 100%;
                display: flex;
                color: #302a31;
                font-size: 20px;
                padding: 0 10px;
                position: relative;
                align-items: center;
                text-decoration: none;
                transition: color .2s linear;
            }
        }

        &__item + &__item {
            border-left: none;
        }
    }

    .services-list__sup {
        color: $white;
        width: 15px;
        height: 15px;
        font-size: 9px;
        text-align: center;
        border-radius: 50%;
        background-color: $twine-color;
        position: absolute;
        right: 1px;
        top: 1px;
    }

    .services-buttons {
        margin-left: auto;
    }
}

@media (max-width: 420px) {
    .services-list__item .services-list__link {
        padding: 0 7px;
        font-size: 16px;
    }

    .logo > img {
        width: 70px;
    }
}
