.header {
    flex: none;
    z-index: 1;
    font-size: 13px;
    margin-top: 35px;
    position: relative;
    
    &--desktop {
        display: block;
    }

    &--mobile {
        display: none;
    }

    &__nav {
        height: 54px;

        > .container {
            height: 100%;
            display: flex;
            padding: 0 100px;
            max-width: 1440px;
            position: relative;
        }
    }

    &__tools {
        top: 50%;
        right: 20px;
        color: $white;
        display: block;
        position: absolute;
        text-decoration: none;
        transform: translateY(-50%);

        &-count {
            width: 30px;
            height: 30px;
            font-size: 12px;
            margin-left: 15px;
            border-radius: 50%;
            transform: scale(1);
            align-items: center;
            display: inline-flex;
            justify-content: center;
            background-color: $sunset-orange;
            transition: transform 0.2s linear;
        }

        &-text {
            font-size: 13px;
            letter-spacing: -1px;
            padding-bottom: 0.2em;
            background: linear-gradient(to right, 
                rgba(255, 255, 255, 0.6) 50%, 
                rgba(253, 76, 55, 0.8),
                rgba(212, 41, 21, 0.8)) 0% 1.3em no-repeat;
            background-size: 300% 1px;
            transition: background-position .5s ease, background-color .3s ease, color .3s ease;
        }

        &:hover {
            .header__tools-text {
                background-position: 100% 1.3em;
            }
            .header__tools-count {
                transform: scale(1.3);
            }
        }
    }
}

.main-nav {
    width: 100%;
    padding: 0 10px;
    background-color: $white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);

    height: 100%;
    margin: 0 auto;
    max-width: 1025px;

    &__container {
        height: 100%;
        display: flex;
        position: relative;
        justify-content: space-between;
    }

    &__item {
        height: 100%;
        max-width: 50%;
        flex-basis: 50%;
        padding-right: 40px;

        &--logo {
            left: 50%;
            padding-right: 0;
            margin-top: -20px;
            position: absolute;
            transform: translateX(-50%);

            + .main-nav__item {
                padding-right: 0;
                padding-left: 40px;

                .nav-list {
                    justify-content: flex-end;
                }
            }
        }
    }

    &__list {
        height: 100%;
    }
}

.nav-list {
    display: flex;

    &__item {
        height: 100%;
        position: relative;
        display: inline-block;
        
        &:before {
            left: 0;
            top: 50%;
            color: $dusty-gray;
            content: '/';
            font-size: 20px;
            font-weight: 300;
            position: absolute;
            transform: translateY(-50%);
        }

        &:first-child::before {
            display: none;
        }

        &:last-child::after {
            right: 0;
        }

        &:after {
            top: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
            left: -1px;
            right: -7px;
            content: '';
            position: absolute;
            transform: skew(-23deg);
            background-color: $tundora;
            transition: opacity 0.2s linear;
        }

        &:hover {
            .nav-list__link {
                color: $white;
            }

            &::after {
                opacity: 1;
            }
        }
    }

    &__link {
        z-index: 2;
        height: 100%;
        color: $black;
        display: flex;
        font-size: 12px;
        padding: 0 16px;
        position: relative;
        align-items: center;
        text-decoration: none;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        transition: color 0.2s linear;


        > span {
            text-align: center;
        }
    }
}

.additional-info {
    top: 62px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);

    &__header {
        width: 255px;
        color: $white;
        margin: 0 auto;
        font-size: 15px;
        text-align: center;
        position: relative;
        padding: 10px 20px 30px;
        background-color: $mine-shaft;

        i {
            bottom: 0;
            left: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            transform: translateX(-50%);
        }

        span {
            border-bottom: 1px dashed;
        }
    }

    &__body {
        background: $white;
        padding: 10px 20px;
        position: relative;
    }

    &__text  {
        overflow: auto;
        max-height: 30vh;

        * + * {
            margin-top: 20px;
        }
    }

    &__close {
        top: 0;
        width: 40px;
        height: 40px;
        right: -40px;
        cursor: pointer;
        position: absolute;
        background-color: $mine-shaft;

        i {
            top: 50%;
            left: 50%;
            opacity: 0.6;
            color: $white;
            font-size: 27px;
            position: absolute;
            transform: translate(-50%, -50%);
        }
    }

    .js-add-trigger {
        cursor: pointer;
    }

    .js-add-content {
        display: none;

        &--open {
            display: block;
        }
    }
}
