$white: #fff;
$black: #000;
$fb: #4267B2;
$vk: #4A76A8;
$gray: #8c8c8c;
$boulder: #747474;
$mischka: #cdd1da;
$tundora: #494547;
$contessa: #c16774;
$dove-gray: #727272;
$ship-gray: #3f3a41;
$mine-shaft: #333333;
$dusty-gray: #999999;
$twine-color: #c1a067;
$sunset-orange: #fd4c37;
$baltic-sea-color: #302a31;
$chelsea-cucumber: #86ae63;