						<footer class="footer">
								<div class="footer__main">
										<div class="container container--wide">
											 <div class="footer__row">
													<div class="footer__col">
														<div class="footer__contacts">
															<a href="tel:+74957775554" class="footer__tel">+7 (495) 777 555 4</a>
															<a href="#" class="link link--green link--bordered link--icon link--big"><i class="fas fa-phone"></i><span>Заказать звонок</span></a>
															<div class="social-list">
																<a href="#" class="social-list__item">
																	<div class="circle circle--fb"><i class="fab fa-facebook-f"></i></div>
																</a>
																<a href="#" class="social-list__item">
																	<div class="circle circle--vk"><i class="fab fa-vk"></i></div>
																</a>
																<a href="#" class="social-list__item">
																	<div class="circle circle--inst"><i class="fab fa-instagram"></i></div>
																</a>
															</div>
														</div>
													</div>
													<div class="footer__col">
														<div class="footer__info">
															<div class="copyright">©&nbsp;Сколково парк</div>
															<a href="#" class="link link--white link--bordered"><span>Проектная декларация</span></a>
															<a href="#" class="link link--white link--bordered link--icon"><i class="fas fa-file-pdf"></i><span>Скачать брошюру</span></a>
														</div>
													</div>
											 </div>
										</div>
								</div>
						</footer>
				</div>
		</body>
</html>
