<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="" rel="stylesheet">
        <script src="https://kit.fontawesome.com/eb448ec1e0.js" crossorigin="anonymous"></script>
        <title>Scolkovo</title>
    </head>

    <body class="subindex">
        ${require('./templates_area/main-slider.html')}
        <header class="header">
            <div class="header--desktop">
                <div class="header__nav">
                    <div class="container container--wide">
                        ${require('./templates_area/main-nav.html')}
                        <a href="#" class="header__tools">
                            <span class="header__tools-text">Избранное</span>
                            <span class="header__tools-count">15</span>
                        </a>
                        <div class="additional-info">
                            <div class="additional-info__header js-add-trigger">
                                <span>Подлинный премиум класс</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                            <div class="additional-info__body js-add-content">
                                <div class="additional-info__close"><i class="fas fa-times"></i></div>
                                <div class="additional-info__text">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quia recusandae blanditiis perspiciatis, ipsum cum sint officiis omnis a dolorum totam. Quasi earum odio praesentium ea harum qui sit accusamus.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quia recusandae blanditiis perspiciatis, ipsum cum sint officiis omnis a dolorum totam. Quasi earum odio praesentium ea harum qui sit accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio quia recusandae blanditiis perspiciatis, ipsum cum sint officiis omnis a dolorum totam. Quasi earum odio praesentium ea harum qui sit accusamus.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="page-wrapper">
