<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/1.jpg')"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/2.jpg')"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/9.jpg')"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/18.jpg')"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/21.jpg')"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url('http://skolkovo-park.com/assets/images/gallery/25.jpg')"></div>
            </div>
        </div>
    </div>
</div>