<div class="swiper-container gallery-top">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/f33/Polymetal_Indigenous_minorities_404_page.JPG"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/b32/Polymetal_gold_smelting_at_Amursk_POX_404_page-3.JPG"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/d99/Polymetal_open_pit%20at_Albazino_404_page.JPG"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/0ff/Polymetal_underground%20at_Mayskoye_404_page.JPG)"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/f61/Polymetal_environment_404_page.JPG"></div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-container">
                <div class="gallery-top__background" style="background-image: url(https://www.polymetalinternational.com/upload/iblock/0ff/Polymetal_underground%20at_Mayskoye_404_page.JPG"></div>
            </div>
        </div>
    </div>
</div>