<nav class="main-nav">
    <div class="main-nav__container">
        <div class="main-nav__item">
            <ul class="main-nav__list nav-list">
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>О&nbsp;проекте</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Расположение</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Окружение</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Территория</span></a>
                </li>
            </ul>
        </div>
        <div class="main-nav__item main-nav__item--logo">
            <div class="logo">
                <img src="../../images/logo.svg" alt="logo" title="logo">
            </div>
        </div>
        <div class="main-nav__item">
            <ul class="main-nav__list nav-list">
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Выбрать квартиру</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Качество</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Новости</span></a>
                </li>
                <li class="nav-list__item">
                    <a href="#" class="nav-list__link"><span>Контакты</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
