<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
    </ul>
    <div class="logo">
        <img src="../../images/logo.png" alt="logo" title="logo">
    </div>
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
        <li class="main-nav__item">
            <a href="#" class="main-nav__link">Элемент</a>
        </li>
    </ul>
</nav>
