<div class="main-tools">
    <div class="main-tools__info">
        <form action="#" class="form">
            <div class="form__item form__item--search">
                <input type="text" name="header-search" value size="40" placeholder="Поиск по каталогу товаров" class="form__input">
                <i class="fas fa-search"></i>
            </div>
        </form>
        <div class="main-tools__contacts">
            <div class="contacts">
                <div class="contacts__item">
                    <a href="tel:+123" class="link contacts__link">+123</a>
                </div>
                <div class="contacts__item">
                    <i class="fas fa-phone-alt"></i>
                    <a href="#" class="link contacts__link">Обратный звонок</a>
                </div>
                <div class="contacts__item">
                    <i class="far fa-envelope"></i>
                    <a href="mailto:info" class="link contacts__link">info</a>
                </div>
                <div class="contacts__item">
                    <i class="far fa-clock"></i>
                    <span class="contacts__link">пн&mdash;пт 9.00&ndash;21.00</span>
                </div>
            </div>
        </div>
    </div>
</div>
