<nav class="top-nav">
    <div class="top-nav__row">
        <ul class="top-nav__list">
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">Элемент</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">Элемент</a>
            </li>
            <li class="top-nav__item">
                <a href="#" class="top-nav__link">Элемент</a>
            </li>
        </ul>
        <div class="top-nav__services services-list">
            <div class="services-list__item">
                <a href="#" class="top-nav__link">Личный кабинет</a>
            </div>
            <div class="services-list__item">
                <a href="#" class="top-nav__link">Избранное <sup class="top-nav__sup">2</sup></a>
            </div>
        </div>
    </div>
</nav>
