.swiper-slide-container {
	height: 100%;
}

.gallery-top {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;

	&__background {
		width: 100%;
		height: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	&:after {
		top: 0;
		left: 0;
		z-index: 1;;
		content: '';
		width: 100%;
		height:100%;
		position: absolute;
		background: linear-gradient(to top,rgba(0,0,0,0.7),rgba(0,0,0,0) 50%);
	}
}

.gallery-thumbs {
	.swiper-slide {
		cursor: pointer;
		filter: grayscale(100%);
		transition: filter 0.2s linear;

		&:hover {
			filter: grayscale(20%);
		}
	}

	.tile {
		transform: scale(0.9);
		border: 1px solid transparent;
	}

	.swiper-slide-thumb-active {
		filter: grayscale(0%);

		.tile {
			transform: scale(1.3);
			border-color: #747474;
		}
	}

	.swiper-wrapper {
		align-items: center;
	}

	&.swiper-container {
		padding: 10px 60px 10px 40px;
	}
}

.gallery-container {
	margin: 0 -40px;
	padding-top: 90px;
	position: relative;
}

.gallery-text {
	top: 0;
	left: 40px;
	z-index: 1;
	position: absolute;

	&__item {
		color: #fff;
		display: none;
		font-size: 18px;
		line-height: 1.35;
		overflow: hidden;

		&.is-active {
			display: block;
		}

		> span {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
		}
	}
}